<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>blah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97B0380C1F2199D000AA6997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97B038231F2199D100AA6997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97B0382E1F2199D100AA6997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
